body {

    background: linear-gradient( rgb(206, 21, 21), rgb(215, 240, 241));
    height: 150vh;
    font-style: italic;
}

img {

    height: 168px;
    width: 168px;
}

.carrossel {
    position: relative;
    width: 300px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
 
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
 
.slide {
    width: 300px;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
}
 
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.7);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
}
 
button:hover {
    background: rgba(255,255,255,0.8);
    color: black;
}
 
.prev {
    left: 10px;
}
 
.next {
    right: 10px;
}
 
.h1 {
     font-size: 18px;
     color: blueviolet
}
 
 